.cards {
  display: grid;
  height: 100%;

  // 330 * 225
  // grid-template-rows: repeat(auto-fill, 225px);
  // Have no choice auto-fill is not working, os we use predefined lengthon each row and column
  grid-template-rows: repeat(auto-fill, minmax(22.5rem, 1fr));
  grid-template-columns: 100%;

  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
}

@media screen and (min-width: 70rem) {
  .cards {
    padding: 2.5rem;
    height: fit-content;

    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: "first first second third"
                          "fourth five five third";

    & > *:nth-child(1) {
      grid-area: first;
    }

    & > *:nth-child(2) {
      grid-area: second;
    }

    & > *:nth-child(3) {
      grid-area: fourth;
    }

    & > *:nth-child(4) {
      grid-area: five;
    }

    & > *:nth-child(5) {
      grid-area: third;
    }
  }
}