*, *::after, *::before  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: hsl(0, 0%, 81%);
}

html, body {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#root {
  width: 100%;
}

@media only screen and (min-width:769px) {
  html, body {
    height: 100vh;
  }

  #root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}